
.keys {
  display: flex;
  height: 350px;
  position: relative;
  margin: 40px 20px;
}
:root {
  --key-width: calc((100vw - 40px) / 14);
  --sharp-width: calc(var(--key-width) / 2);
}

.key {

}
.key-white {
  border: 4px solid black;
  border-radius: .5rem;
  display: block;
  box-sizing: border-box;
  width: var(--key-width);
}
.key-white.playing,
.key-sharp.playing::after {
  transform: scale(.95);
}

.key-sharp {
  position: relative;
  width: 0;
  height: 0;
}
.key-sharp::after {
  content: " ";
  position: absolute;
  width: var(--sharp-width);
  height: calc(350px * 0.6);
  background: #000;
  left: calc(-1 * var(--sharp-width) / 2);
  z-index: 1;
}


:root {
  --offset: 0deg;
}
.playing[data-note^="C"],
.playing[data-note^="C"]:after {
  border-color: rgb(255, 0, 0);
  box-shadow: 0 0 1rem rgb(255, 0, 0);
}
.playing[data-note^="D"],
.playing[data-note^="D"]:after {
  border-color: rgb(255, 255, 0);
  box-shadow: 0 0 1rem rgb(255, 255, 0);
}
.playing[data-note^="E"],
.playing[data-note^="E"]:after {
  border-color: rgb(0, 255, 0);
  box-shadow: 0 0 1rem rgb(0, 255, 0);
}
.playing[data-note^="F"],
.playing[data-note^="F"]:after {
  border-color: rgb(0, 255, 255);
  box-shadow: 0 0 1rem rgb(0, 255, 255);
}
.playing[data-note^="G"],
.playing[data-note^="G"]:after {
  border-color:rgb(0, 0, 255);
  box-shadow: 0 0 1rem rgb(0, 0, 255);
}
.playing[data-note^="A"],
.playing[data-note^="A"]:after {
  border-color: rgb(123, 0, 255);
  box-shadow: 0 0 1rem rgb(123, 0, 255);
}
.playing[data-note^="B"],
.playing[data-note^="B"]:after {
  border-color: rgb(255, 0, 255);
  box-shadow: 0 0 1rem rgb(255, 0, 255);

}
/* .keys:hover .hints {
  opacity: 1;
} */